<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contacto</title> 
  <link rel="stylesheet" href="../css/variables.css">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/paginas/contacto.css">
  
  <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="site">
  <header>
    <a class="logo" href="../index.html"><h1>Chrono service</h1></a>
    <nav>
      <ul class="nav_links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="galeria.html" class="active">Galería</a></li>
      </ul>
    </nav>
    <a class="cta" href="contacto.html"><button>Contacto</button></a>
  </header>
  
  <main class="content">
  </main>
  
  <footer class="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-links">
          <h4>Chrono Service</h4>
          <ul>
            <li>
              Setting the standard for precision-led service management since 1924. 
              Calibrated excellence for the modern age.
            </li>
          </ul>
        </div>
        
        <div class="footer-links">
          <h4>Quick links</h4>
          <ul>
            <li><a href="#">Corporate Info</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms f Service</a></li>
          </ul>
        </div>
        
        <div class="footer-links">
          <h4>Protocol office</h4>
          <ul>
            <li>
              24 Horology Row Geneva, Switzerland
              <div>
                <i class="fa-solid fa-share-nodes"></i>
                <i class="fa-solid fa-at"></i>
              </div>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
    
    <hr>
    <h5>@2026 Precision Service Management. All rights reserved.</h5>
  </footer>
  </div>
</body>
</html>